@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
body {
	margin-top:auto!important;
	padding:0!important;
	color: #bbb;
}
h1{
	font-size:300%;
	line-height:1.5;
}
#gameCanvas {
	text-align: center;
}
#canvas {
	border: 1px solid #000;
/*	background: url(../img/kyoushitsu.jpeg) center center no-repeat;*/
	background: #222 center center no-repeat;
	background-size: cover;
}
#chatArea {
	position: fixed;
	top: 0;
	left: 600px;
	padding: 6px;
	width: 382px;
	height: 44px;
	background: rgba(0,0,0,.5);
	border-radius: 4px;
}

#chatArea form {
	width: 100%;
	height: 100%;
}

#chatTextArea {
	border-radius: 4px;
	height: 30px;
	opacity: .8;
}

#sendMsgBtn, #clearBtn {
	width: 80px;
	height: 30px;
	border-radius: 6px;
	margin-top: -10px;
	position: relative;
	top: -10px;
	opacity: .8;
}
#sendMsgBtn {
	background-color: #afa;
}

#clearBtn {
	background-color: #aaf;
}

video.audioChatting {
	display: none;
}


#test {
	color: #fff;
	position: fixed;
}

/*---------------------------modal*/
#modal_overlay {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}

#modal_base {
	width: 600px;
	height: 450px;
	z-index: 11;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -300px;
/*	background-color: rgba(0,0,0,.5);*/
}

#modal_content {
/*	background-color: #000;*/
/*	display: none;*/
	z-index: 12;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 1s;
	transition: all 1s ease-in-out 1s;


}
#modal_content.active {
	opacity: 1;
	-webkit-transition: all 1s ease-in-out 1s;
	transition: all 1s ease-in-out 1s;
}

#modal_base div.bd {
	position: absolute;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

#modal_base div.bd {
	background: #fff;
}
#modal_base div.bdT {
	width: 0;
	height: 2px;
	top: 0;
	left: 0;
}
#modal_base div.bdB {
	width: 0;
	height: 2px;
	bottom: 0;
	right: 0;
}
#modal_base div.bdR {
	width: 2px;
	height: 0;
	top: 0;
	right: 0;
}
#modal_base div.bdL {
	width: 2px;
	height: 0;
	bottom: 0;
	left: 0;
}
#modal_base.active div.bdT {
	width: 100%;
}
#modal_base.active div.bdB {
	width: 100%;
}
#modal_base.active div.bdR {
	height: 100%;
}
#modal_base.active div.bdL {
	height: 100%;
}

video.videoChatting {
	background-size: cover;
	width: 100%;
	height: 100%;
/*
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -200px;
	z-index: 100;
*/
	display: block;
}

video.audioChatting {
	width: 0px;
	height: 0px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
}
